<div class="section section-xs section-both section-primary section-call-to {{ instance.extra_css_classes }}">
    <div class="container">
        <div class="row text-center-xs">
            <div class="col-sm-8">
                <h3 class="title-md">{{ instance.title }}</h3>
            </div>
            <div class="col-sm-4 text-right text-center-xs">
                <a href="{{ instance.url }}" class="btn btn-ghost-white btn-lg">
                    <i class="fa {{ instance.fa_icon }}"></i>{{ instance.link_text }}
                </a>
            </div>
        </div>
    </div>
</div>