{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

<div class="row">
    <div class="col-sm-12">
        <div class="wrapper-post">
            {% if article.featured_image_id %}
            <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}" class="text-theme display-block">
                <img src="{% thumbnail article.featured_image.image 800x300 crop subject_location=article.featured_image.subject_location %}" class="img-responsive full-width"
                     alt="{{ article.featured_image.alt }}">
            </a>
            {% endif %}
            <div class="wrapper-post-text">
                <h3 class="title-lg text-uppercase text-theme">
                    {% if detail_view %}
                    {% render_model article "title" "" "" "striptags" %}
                    {% else %}
                    <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% render_model article "title" "" "" "striptags" %}</a>
                    {% endif %}
                </h3>
                <ul class="list-unstyled list-inline text-theme post-date-author">
                    {% if author.name %}
                    <li>
                        <a href="{% namespace_url 'article-list-by-author' author.slug namespace=namespace default='' %}"><i class="fa fa-comment-o"></i>{{ author.name }}</a>
                    </li>
                    {% endif %}
                    {% if article.tags %}
                    <li>
                        {% for tag in article.tags.all %}
                        <a class="link-colored" href="{% namespace_url 'article-list-by-tag' tag=tag.slug namespace=namespace default='' %}">
                            <i class="{% if forloop.first %}fa fa-tag{% endif %}"></i>{{ tag.name }}{% if not forloop.last %}, {% endif %}
                        </a>
                        {% endfor %}
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% namespace_url 'article-list-by-day' year=article.publishing_date.year month=article.publishing_date.month day=article.publishing_date.day namespace=namespace default='' %}"><i class="fa fa-calendar"></i>{{ article.publishing_date|date }}</a>
                    </li>
                </ul>

                {% if detail_view %}
                {% render_placeholder article.content language placeholder_language %}
                {% else %}
                <p>{% render_model article "lead_in" "" "" "striptags" %}</p>
                <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}" class="text-theme btn btn-primary btn-md">Leer más</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>